body {
  font-family: Arial;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(30, 30, 30);
  color: white;
}

/* HEADER WRAPPER */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0d0d0d;
  padding: 12px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* NAZWA STRONY */
.page-title {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding: 6px 12px;
  background: #1f1f1f;
  border-radius: 6px;
}

/* NAVBAR */
.navbar {
  display: flex;
  gap: 20px;
  background: #111;
  padding: 8px 12px;
  border-radius: 6px;
  
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.2s;
}

.navbar a:hover {
  background: #333;
}

iframe {
  width: 100%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
  height: auto;

  display: block;
  margin: 0 auto;
}

.option {
  display: block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  color: white;
}

.correct { background: #2e7d32; }
.wrong { background: #c62828; }

/* KNOWLEDGE BASE */
.kb-layout {
  display: flex;
  margin-top: 20px;
  gap: 20px;

  height: 75vh;
  align-items: stretch;
}

/* MENU */
.kb-menu {
  width: 250px;
  min-height: 99%;
  text-align: left;
}

.kb-item {
  background: #1a1a1a;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.kb-item-title {
  font-weight: bold;
}

.kb-links {
  display: none;
  margin-top: 10px;
}

.kb-item.active .kb-links {
  display: block;
}

/* LINKI PODMENU */
.kb-link {
  display: block;
  padding: 6px;
  margin-top: 5px;
  color: #4da3ff;
  cursor: pointer;
  border-radius: 5px;
}

.kb-link:hover {
  background: #222;
}

.kb-link.active {
  background: #2b2b2b;
  border-left: 3px solid #4da3ff;
}

/* CONTENT */
.kb-content {
  flex: 1;
  background: #111;
  padding: 20px;
  border-radius: 10px;
  text-align: left;

  min-height: 800px;
  overflow-y: auto;

  box-sizing: border-box;
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE / Edge */
}
.kb-content::-webkit-scrollbar {
  display: none;              /* Chrome / Safari / Opera */
}
.kb-article {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.kb-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.kb-image img {
  border-radius: 8px;
}
.kb-image {
  flex-shrink: 0;
}
.kb-text {
  flex: 1;
}
.kb-text p {
  font-size: 35px;
  text-align: center;
}

.kb-section {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 8px;
}
.kb-section p {
font-size: 25px;
text-align: center;
}
.kb-warning {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.side-images {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-shrink: 0;
}

.corner-img {
  width: 60px;
}

.kb-warning p {
  flex: 1;
  font-size: 25px;
  text-align: center;
  margin: 0;
  margin-top: 100px;
  margin-bottom: 100px;
}